
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;

}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body { background: url('/images/bg.jpg') top left; font-family:Arial;  display:none;}

.clr { float:none; clear:both; }

#system-load img { -webkit-transition:1s ease-in-out ;
    -moz-transition:1s ease-in-out ;
    -o-transition:1s ease-in-out ;
    transition:1s ease-in-out ;
	-webkit-transform: rotate(360deg); transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg); }

.wrapp { max-width:1049px; margin:0px auto; text-align:center; position:relative; }

.wrapp_menu { background: url('/images/bg_menu.png') top left no-repeat; width:1049px; height:195px; z-index: 15;
position: absolute; top: 15px; text-align: left; }

.logo { width:188px; height:195px; position:absolute; top:10px; left:435px; z-index:20;  cursor:pointer;
-webkit-transition:1s ease-in-out ;
    -moz-transition:1s ease-in-out ;
    -o-transition:1s ease-in-out ;
    transition:1s ease-in-out ;
 }
.logo:hover { -webkit-transform: rotate(360deg); transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}

.photo_one {  position:absolute; top:-15px; left:-115px; z-index:10; 
-webkit-animation: rotation 6s ease-in-out infinite ;
-moz-animation: rotation 6s ease-in-out infinite ;
-o-animation: rotation 6s ease-in-out infinite ;
animation: rotation 6s ease-in-out infinite ;
-webkit-transform:rotate(4deg);
-moz-transform:rotate(4deg);
-o-transform:rotate(4deg);
transform:rotate(4deg);
-webkit-transform-origin: top right;
-moz-transform-origin: top right;
-ms-transform-origin: top right;
-o-transform-origin: top right;
}

.photo_two { position:absolute; top:-15px; left:195px; z-index:8;
-webkit-animation: rotation 11s ease-in-out infinite ;
-moz-animation: rotation 11s ease-in-out infinite ;
-o-animation: rotation 11s ease-in-out infinite ;
animation: rotation 11s ease-in-out infinite ;
-webkit-transform:rotate(4deg);
-moz-transform:rotate(4deg);
-o-transform:rotate(4deg);
transform:rotate(4deg);
-webkit-transform-origin: top center;
-moz-transform-origin: top center;
-ms-transform-origin: top center;
-o-transform-origin: top center;
 }

.banner_right { background: url('/images/banner_wedding_new.png') top left no-repeat; width:410px; height:443px; position:absolute; top:205px; right:-40px; }

.banner_right div { position:absolute; font-family: 'Roboto Slab', serif; color:#fff; font-size:25px; text-shadow: 1px 1px 5px rgba(150, 150, 150, 1); font-weight:bold; }

.day { bottom:115px; width:30px;  left:92px; }
.hours { bottom:115px; width:30px;  left:161px; }
.min { bottom:115px; width:30px;  left:230px; }
.sec{ bottom:115px; width:30px;  left:302px; }


.balance-1.animated{
	-webkit-animation: APtopSlideShow 2s;
	-moz-animation   : APtopSlideShow 2s;
	-ms-animation    : APtopSlideShow 2s;
	-o-animation     : APtopSlideShow 2s;
	animation        : APtopSlideShow 2s;
	top:0;
}

.balance-1.oscillate{

	-webkit-animation: rotation 3s ease-in-out infinite ;
    -moz-animation: rotation 3s ease-in-out infinite ;
    -o-animation: rotation 3s ease-in-out infinite ;
    animation: rotation 3s ease-in-out infinite ;
}

.menu { margin-top:  85px; margin-left: 100px; }
.menu li { float:left; width:200px; }
.menu li.item_three { float:left; width: 130px; margin-left: 175px; }
.menu li a { cursor:pointer; text-decoration:none; text-transform:uppercase; letter-spacing:1px; font-family: 'Roboto Slab', serif; color:#fff; font-size:16px; text-shadow: 2px 1px 5px rgba(50, 50, 50, 1); font-weight:bold; }

.height_block { width:100%; height:740px; }

.content { width:980px; margin-left:auto; margin-right:auto; }

.she { float:left; width:480px; margin-top:40px; }
.she .left_col { float:left; width:230px; }
.she .right_col { float:right; width:240px; }
.she h2 { font-weight:normal; text-decoration:underline; font-size:22px; padding-bottom:15px; }

.he { float:right; width:480px; margin-top:40px; }
.he .left_col { float:left; width:240px; }
.he .right_col { float:right; width:230px; text-align:right;}
.he h2 { font-weight:normal; text-decoration:underline; font-size:22px; padding-bottom:15px; text-align:right; }

.text { color:#196d70; font-style:italic; font-family: 'Georgia', serif; text-align:justify; }

.text_light { color:#2fa0a4; font-style:italic; font-family: 'Georgia', serif; text-align:justify; }
.text_light a,.text_light span { color:#196d70 !important; }
.she p,.he p { padding-bottom:10px; line-height:20px; }

.history { position:relative; background: url('/images/about_line.png') top left no-repeat; width:432px; height:586px; margin-left:auto; margin-right:auto; }
.history .text { color:#196d70; font-style:italic; font-family: 'Georgia', serif; text-align:left; font-size:14px; line-height:16px; }
.history .text p { padding-bottom:10px; }
.wedding_day { margin-top:100px; }

.wedding_day .left_col { float:left; width:460px; text-align:left;}
.wedding_day .right_col { float:right; width:460px; text-align:left; }
.wedding_day .right_col img,.wedding_day .left_col img { float:left; margin-right:10px; margin-bottom:5px; }
.wedding_day h3 { display:block; float:left; font-family: 'Roboto Slab', serif; font-style:normal; font-size:19px;  font-weight:normal; line-height:38px; border-bottom:1px solid #2fa0a4; margin-bottom:10px; }
.wedding_day p { padding-bottom:10px; line-height:20px; }

.block_before_footer { width:100%; height:60px; }

.wrapp_footer { background-color:#2e7d7e; width:100%; padding-bottom:10px; }
.footer_line { background: url('/images/bg_footer.png') bottom left repeat-x; width:100%; height:10px; }
.footer_logo { position:relative; top:-36px; background: url('/images/logo_footer.png') top center no-repeat; width:100%; min-height:210px; }

.phone { padding-top:98px; padding-left:485px; color:#fff; text-align:left; font-family: 'Roboto Slab', serif; font-style:normal; font-size:16px;  }
.mail { padding-top:6px; padding-left:485px; color:#fff; text-align:left; font-family: 'Roboto Slab', serif; font-style:normal; font-size:16px;  }


.menu_footer { text-align:center; padding-top:30px;}
.menu_footer a { cursor:pointer; text-decoration:none; text-transform:uppercase; letter-spacing:1px; font-family: 'Roboto Slab', serif; color:#fff; font-size:10px; padding-left:10px; padding-right:10px; }


.point_wedding { position:absolute; background: url('/images/point_wedding.png') top left no-repeat; width:114px; height:114px; top:515px; left:170px; }
.point_heart { position:absolute; background: url('/images/point_heart.png') top left no-repeat; width:71px; height:65px; top:275px; left:185px; font-family: 'Roboto Slab', serif;
font-style: normal; color: #2FA0A4; font-size: 16px; padding-top:12px; cursor:pointer; }
.moun { font-size: 10px !important; }
.point_heart_content { display:none; position:absolute; top:180px; right:-170px; width:200px; text-align:left !important;}


.points { position:absolute; width:61px; height:61px; font-family: 'Roboto Slab', serif;
font-style: normal; color: #2FA0A4; font-size: 16px; cursor:pointer;  }

.points img { width:61px; height:61px; }

.activeBoll { transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -moz-transform: scale(1.2); }

.activeBoll img {  }

.h_point_item_one { top: -40px;
left: 340px; }
.h_point_item_one_content { position: absolute;
top: -30px;
right: 100px;
width: 230px; 
}

.text p img { 
width:40px;
height:40px;
margin:5px; 
border:2px solid #fff;
-webkit-border-radius: 35px;
-moz-border-radius: 35px;
border-radius: 35px; }

.h_point_item_two { top: 62px; left: 385px; }
.h_point_item_two_content { position: absolute;
top: 60px;
right: -285px;
width: 260px; }


.h_point_item_three { top: 150px; left: 350px; }
.h_point_item_three_content { position: absolute;
top: 160px;
right: -300px;
width: 285px; }

.h_point_item_four { top: 220px; left: 295px; }
.h_point_item_four_content { position: absolute;
top: 255px;
right: -300px;
width: 360px; }

.h_point_item_five { top: 380px; left: 295px; }
.h_point_item_five_content { position: absolute;
top: 390px;
right: -300px;
width: 340px; }


.s_point_item_one { top: 0px; left: -25px; }
.s_point_item_one_content { position: absolute;
top: -30px;
right: 490px;
width: 230px; 
}

.s_point_item_one_content img { 
width:40px;
height:40px;
margin:5px; 
border:2px solid #fff;
-webkit-border-radius: 35px;
-moz-border-radius: 35px;
border-radius: 35px; }

.s_point_item_two { top: 80px; left: -15px; }
.s_point_item_two_content { position: absolute;
top: 60px;
left: -285px;
width: 260px; }


.s_point_item_three { top: 160px; left: 80px; }
.s_point_item_three_content { position: absolute;
top: 160px;
left: -300px;
width: 285px; }

.s_point_item_four { top: 220px; left: 125px; }
.s_point_item_four_content { position: absolute;
top: 255px;
left: -300px;
width: 360px; }

.s_point_item_five { top: 380px; left: 85px; }
.s_point_item_five_content { position: absolute;
top: 260px;
left: -300px;
width: 340px; }




.hide { display:none; }

.click { display:none; position:absolute; background: url('/images/click.png') top left no-repeat; width:50px; height:50px; top:2px; left:3px;  color: #196D70;
font-style: italic; font-family: 'Georgia', serif; color:#fff;
text-align: center; font-size: 11px !important; line-height: 48px; }

@-webkit-keyframes rotation {
0% {-webkit-transform:rotate(4deg);
-moz-transform:rotate(4deg);
-o-transform:rotate(4deg);
transform:rotate(4deg);}
50% {-webkit-transform:rotate(-1deg);
-moz-transform:rotate(-1deg);
-o-transform:rotate(-1deg);
transform:rotate(-1deg);}
100% {-webkit-transform:rotate(4deg);
-moz-transform:rotate(4deg);
-o-transform:rotate(4deg);
transform:rotate(4deg);}
}
@-moz-keyframes rotation {
0% {-webkit-transform:rotate(4deg);
-moz-transform:rotate(4deg);
-o-transform:rotate(4deg);
transform:rotate(4deg);}
50% {-webkit-transform:rotate(-1deg);
-moz-transform:rotate(-1deg);
-o-transform:rotate(-1deg);
transform:rotate(-1deg);}
100% {-webkit-transform:rotate(4deg);
-moz-transform:rotate(4deg);
-o-transform:rotate(4deg);
transform:rotate(4deg);}
}
@-o-keyframes rotation {
0% {-webkit-transform:rotate(4deg);
-moz-transform:rotate(4deg);
-o-transform:rotate(4deg);
transform:rotate(4deg);}
50% {-webkit-transform:rotate(-1deg);
-moz-transform:rotate(-1deg);
-o-transform:rotate(-1deg);
transform:rotate(-1deg);}
100% {-webkit-transform:rotate(4deg);
-moz-transform:rotate(4deg);
-o-transform:rotate(4deg);
transform:rotate(4deg);}
}
@keyframes rotation {
0% {-webkit-transform:rotate(4deg);
-moz-transform:rotate(4deg);
-o-transform:rotate(4deg);
transform:rotate(4deg);}
50% {-webkit-transform:rotate(-1deg);
-moz-transform:rotate(-1deg);
-o-transform:rotate(-1deg);
transform:rotate(-1deg);}
100% {-webkit-transform:rotate(4deg);
-moz-transform:rotate(4deg);
-o-transform:rotate(4deg);
transform:rotate(4deg);}
}




@keyframes "APtopSlideShow" {
 0% {
    top: -50%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
 }
 100% {
    top: 0px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
 }
}

@-moz-keyframes APtopSlideShow {
 0% {
   top: -200%;
   filter: alpha(opacity=0);
   opacity: 0;
 }
 100% {
   top: 0px;
   filter: alpha(opacity=100);
   opacity: 1;
 }

}

@-webkit-keyframes "APtopSlideShow" {
 0% {
   top: -50%;
   filter: alpha(opacity=0);
   opacity: 0;
 }
 100% {
   top: 0px;
   filter: alpha(opacity=100);
   opacity: 1;
 }

}

@-ms-keyframes "APtopSlideShow" {
 0% {
   top: -200%;
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
 }
 100% {
   top: 0px;
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
 }

}

@-o-keyframes "APtopSlideShow" {
 0% {
   top: -200%;
   filter: alpha(opacity=0);
   opacity: 0;
 }
 100% {
   top: 0px;
   filter: alpha(opacity=100);
   opacity: 1;
 }
}

.video_link { position:absolute; bottom:45px; left:50%; font-weight: normal;
text-decoration: none; line-height:26px;
font-size: 22px; color: #196D70; font-style: italic; font-family: 'Georgia', serif; display: block;
width: 170px; margin-left: -75px; }
